@import url('https://fonts.googleapis.com/css?family=Raleway:600,800&display=swap');

#card {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    border-radius: 12%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .2);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.45));
    transition: all .5s ease-in-out;
    animation: bounce-in .5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    animation-iteration-count: 1;
}

@keyframes bounce-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#card.fullscreen {
    width: 100%;
    height: 100%;
}

#card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 3em;
    transition: all .3s ease-in-out;
}

#card .info .fullname {
    font-size: 12pt;
    font-weight: 800;
    color: #51576b;
}

#card .info .surname {
    font-weight: 600;
}

#card .info .role {
    font-size: 9pt;
    font-weight: 500;
    line-height: 3;
    color: #7c839a;
}
