#card .avatar {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .15);
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

#card .avatar img {
    width: 100%;
}
