@charset "UTF-8";

* {
    margin:  0;
    border:  0;
    padding: 0;
    outline: 0;

    list-style: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;

    box-sizing: border-box;

    -webkit-webkit-font-smoothing: subpixel-antialised;
       -moz-webkit-font-smoothing: subpixel-antialised;
        -ms-webkit-font-smoothing: subpixel-antialised;
         -o-webkit-font-smoothing: subpixel-antialised;
}

body {
    height: 100vh;
}
